<h1>All jobs created by all users</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Job Pickup Address</th>
      <th>Job Dropoff Address</th>
      <th>Status</th>      
      <th>Action</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%@job_list.each do |j|%>
    <tr>
      <td><%= j.pickup_address %></td>
      <td><%= j.dropoff_address %></td>
      <td><%= "not taken" if j.book_status? == false%></td>          

      <td>
        <% if j.book_status? == false %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
          <% else %>
            <%= link_to('Login', new_user_session_path, class: "nav-link") %>
          <% end %>
        
      </td>       
    </tr>
    <%end%>
  </tbody>
</table>